/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2017, 22:46:48
    Author     : seans
*/


body{
    background-color: #fcfcfc;
}

#content, #header{
    
    background-color: #47A8D7;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    
}

#content{
    
    text-align: center;
    
}

#questionBox{
    
    background-color: red;
    
}
